@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.main-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#megaphone,
.class {
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}
.buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.class-title {
  text-align: center;
}
.student > p {
  color: rgb(0, 85, 155);
}
.tasks {
  position: relative;
  left: 10px;
}

#megaphone {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

#megaphone a button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #1877f2;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

#megaphone a button:hover {
  background-color: #1764ca;
}
@media (max-width:300px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}